@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
    font-family: 'Rubik';
    position: relative;
}

/* HEADER */

.header {
    padding: 0px 10%;
    position: fixed;
    z-index: 10;
    width: 80%;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #F6F6F6;
    padding: 10px 0px;
    max-width: 100%;
    height: 20px;
}

.nav__links {
    border-right: 1px solid #6A6A6A;
}

.nav__link{
    padding: 0px 10px;
    text-decoration: none;
    color: #6A6A6A;
    font-size: 0.7rem;
}

.nav__icons {
    padding: 0px 20px;
}

.icons__img {
    padding: 0px 5px;
    color: #585858;
    width: 15%;
}

.header__info {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    background-color: #FFF;
    height: 10vh;
}
.header__img {
    padding: 15px 35px;
    width: 15%;
    
}

.info__input{
    position: relative;
    width: 40%;
}
.input__search {
    box-sizing: border-box;
    color: #191919;
    padding: 5px 30px 5px 55px;
    width: 100%;
}

.input__icon {
    color: #191919;
    position: absolute;
    width: 8%;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }


.info__check {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.check__link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #272727;
    margin: 0px 7px;
}

.check__img {
    width: 20%;
}

.info__buy {
    width: 20%;
}
.info__car {
    padding: 10px 35px;
    background-color: #E40414;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 0.7rem;
    text-decoration: none;
}

.header__category {
    background-color: #F6F6F6;
    color: #6A6A6A;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}

.menu__links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
    width: 100%;
}

.link__category {
    display: block;
    padding: 15px;
    color: #585858;
    text-decoration: none;
}


.category__menu:hover {
    background-color: #E40414;
    color: #FFF;
}

.menu__vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 100%;
    background-color: #FFF;
}

.vertical__list {
    padding: 1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical__title {
    color: #585858;
    text-decoration: none;
    padding: 30px 0px;
    font-weight: 700;
}

.vertical__text {
    color: #585858;
    text-decoration: none;
    padding: 15px 0px;
}

.menu__links  li:hover  .menu__vertical {
    display: block;
}

.link__category:hover {
    color: #FFF;
}





/* PARTE NUEVA TIENDA ONLINE */

.main {
    padding: 0px 10%;
    position: relative;
    padding-top: 10rem;
}

.main__first {
    
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: none;
    background-image: url(img/herramientas-electricas-1132x509.jpg );
    opacity: 0.8;
}

.first__title{
    color: #FFF;
    font-weight: 700;
    font-size: 2.5rem;
}

.first__sub{
    color: #FFF;
    font-weight: 200;
    padding-top: 5px;
    font-size: 1.3rem;
}


/* PARTE DE LAS OFERTAS */

.main__offer {
    padding: 0px 35px;
}

.main__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 0px 10px;
    margin: 0px 30vw;
    font-size: 1.7rem;
    border-bottom: 2px solid #E40414;
}


.container__p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 400;
    font-size: 1.3rem;
}
.offer__container {
    padding-top: 30px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.7fr 1.7fr 0.1fr; 
    gap: 10px 7px; 
    grid-template-areas: 
      "Categoria-1 Categoria-2 Categoria-3"
      "Categoria-1 Categoria-4 Categoria-5"
      ". . ."; 
  }
  .Categoria-1 { 
    grid-area: Categoria-1;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(img/herramientas-electricas-1132x509.jpg);
    overflow: hidden;
    height: 40vh;
    border-radius: 10px; 
}
  .Categoria-2 { 
    grid-area: Categoria-2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/categoria-4.jpg);
    overflow: hidden;
    height: 100%;
    border-radius: 10px; 
}
  .Categoria-4 {
    grid-area: Categoria-4;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(img/categoria-4.jpg);
    overflow: hidden;
    height: 100%;
    border-radius: 10px; 
}
  .Categoria-5 {
    grid-area: Categoria-5;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: url(img/categoria-4.jpg);
    overflow: hidden;
    height: 100%;
    border-radius: 10px; 
}
  .Categoria-3 { 
    grid-area: Categoria-3; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/categoria-4.jpg);
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}


/* PARTE DE LOS PRODUCTOS DESTACADOS */

.main__products {
    background-color: #B4111D;
    height: 350px;
    margin-top: 70px;
}

.products__title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #FFF;
    margin: 0px 25vw;
    border-bottom: 2px solid #FFF;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 1.7rem;
}

/* PARTE CONTAINERS PRODUCTOS DESTACADOS */

.products__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    margin-top: 50px;
}

.container__item {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 0px 1%;
    border-radius: 7px;
    box-shadow: -1px 0px 5px -3px #000000;
    width: 270px;
}

.item__descu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item__img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    padding: 15px 0px;
    position: relative;
}

.info__title {
    font-weight: 700;
    padding: 5px 0px;
    font-size: 0.8rem;
}

.info__price {
    font-weight: 700;
    padding: 3px 0px;
    font-size: 1rem;
}

.info__discount {
    color: #848484;
    font-weight: 700;
    padding: 3px 0px;
    font-size: 1rem;
    text-decoration: line-through;
    font-size: 0.8rem;
}

.item__exci {
    background-color: #283283;
    margin: 10px 20px 0px 15px;
    padding: 3px 5px;
    font-size: 0.6rem;
    color: #FFF;
    border-radius: 5px;
}

.item__excp {
    background-color: #E40414;
    margin: 10px 10px 0px 5px;
    padding: 3px 5px;
    font-size: 0.6rem;
    color: #FFF;
    border-radius: 5px;
}

.item__info {
    padding: 10px 10px;
    background-color: #FFF;
}


.item__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button__math {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.button__ope {
    border: 1px solid #272727;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: 700;
    color: #272727;
    border-radius: 5px;
}

.button__num {
    margin: 0px 20px;
}

.button__add{
    color: #FFF;
    background-color: #E40414;
    font-size: 0.8rem;
    padding: 7px 12px;
    text-decoration: none;
    border-radius: 5px;
}

/* CONTENEDORES */

.main__category {
    margin-top: 250px;
    padding: 0px 30px;
}

.category__container {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
}


.category__left {
    width: 50%;
    margin-right: 10px;
    border-radius: 10px;
}

.category__right {
    width: 50%;
    margin-left: 10px;
}

.carousel__contenedor {
    display: flex;
    flex-direction: row;
}

.carousel__anterior {
    margin: 150px 0px;
    border: none;
    background-color: #FFF;
}

.carousel__siguiente {
    margin: 150px 0px;
    border: none;
    background-color: #FFF;
}

.category__left {
    background: url(img/categoria-2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

.left__info {
    color: #FFF;
}


/* PARTE DE NUESTRAS MARCAS */


.main__brand {
    padding: 0px 15px;
}

.brand__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.brand__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0px;
}

.brand__icon {
    width: 100%;
}

.brand__info {
    background-color: #283283;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.info__img {
    position: relative;
    width: 30px;
}

.info__let {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}


.info__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-weight: 200;
    margin: 0px 15px;
}

.info__title {
    display: block;
}

.info__link {
    color: #FFF;
    font-size: 0.6rem;
}




/* LA PARTE DEL FOOTER */

li {
    list-style: none;
    font-size: 0.7rem;
    padding: 5px 0px;
}

.footer{
    margin: 30px 100px;
    list-style: none;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
}

.footer__top {
    display: flex;
    flex-direction: row;
}

.footer__category {
    margin: 0px 15px;
    width: 15%;
}

.footer__title {
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.footer__icon {
    width: 40%;
    margin-right: 50px;
    margin-left: 50px;
}

.icon__text {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #585858;
}

.icon {
    width: 50%;
}

.img__pay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    width: 70%;
}

.footer__law {
    border-top: 1px solid #EBEBEB;
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.law__text {
    padding-top: 70px;
    color: #BCBCBC;
    font-size: 0.7rem;
}